body{
    display:flex; 
   flex-direction: row;
}
#view{
    overflow-y:scroll; 
   width: 270px;
}
.chairs{
   padding: 10px;
   border:5px black;
   
}
/* #show{
    display: flex; 
   flex-direction: column;
   float: left;
   
} */
#add{
   width: 240px;
   height: 50px;
   margin: 5px;
   margin-right: 0;
}
/* #cart{
   display: inline;
}
#buy{
   width: 240px;
   height: 50px;
   margin: 5px;
   margin-right: 0%;
   background-color: #73c6b6  ;
} */
#options{
   display: flex;
   background-color: #d6eaf8 ;
   padding: 10px;
   margin: 10px;
   font-size: 20px;
   width: 580px;
}
.option1{
   margin: 15px;
}
#name{
   font-weight: bold;
   font-size: 40px;
}
#side2{
   margin: 15px;
   padding: 20px;
   width: 760px;
}
#detail{
    display: flex; 
    flex-direction: row;
}  
#price{
   font-size: 30px;
   display: flex;
}
#price1{
   text-decoration: line-through;
   color: gray;
   margin: 5px;
}
#price2{
   font-weight: bold;
   margin: 5px;
}
.all_pics{
   height: 600px;
   width: 600px;
}
#vew{
   font-weight: 600;
   margin: 15px;
}
#number{
   border-radius: 50px;
   background-color: white;
   margin: 15px;
   height: 50px;
   width: 150px;
   font-size: 20px;
}
#cart{
   border-radius: 50px;
   width: 250px;
   height: 50px;
   background-color: black;
   color: white;
}
#wishlist{
   font-size: 35px;
}
#wishlist:hover{
   background-color: black;
   color: white;
}
#buy{
   width: 500px;
   height: 50px;
   background-color: white;
   border-radius: 50px;
}
#buy:hover{
   background-color: black;
   color: white;
}
#pay{
   height: 170px;
   width: 600px;
   margin-left: 80px;
}
#buton{
   margin-left: 150px;
   margin-top: 15px;
   margin-bottom: 15px;
}
#icon1{
   margin: 10px;
}
#icon2{
   margin: 10px;
}
.des{
   color: white;
   background-color: black;
   border-radius: 50px;
   height: 50px;
   width: 200px;
   font-size: 30px;
   margin-bottom: 20px;
}
#p1des{
   margin: 30px;
}
#p2revew{
   margin: 30px;
   font-size: 30px;
   font-weight: bold;
}
#p3revew{
   margin-left: 30px;
   font-size: 25px;
   margin-bottom: 0;
}
#p4revew{
   margin: 30px;
   border: blue;
}
#write_re{
   margin-left: 30px;
   margin-bottom: 30px;
   background-color: white;
   border-radius: 50px;
   height: 50px;
   width: 150px;
}
#write_re:hover{
   background-color: black;
   color: white;
}
#revew{
   border: 2px solid black;
   padding: 10px;
   margin: 30px;
   border-radius: 10px;
}
